.cell{
    width: 75px;
    height: 75px;
    
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}
#cell-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    position: relative;
}
.strike{
    position: absolute;
    background-color: darkred;
}
#restartBtn{
    padding: 13px 19px;
    font-size: 16px;
    background-color: #4CAF50;
    border: 2px solid black;
    border-radius: 8px;
    color: white;
    border-color: #4CAF50;
    transition-duration: 0.4s;
}
#restartBtn:hover{
    background-color: white;
    color: black;
    border-color: #4CAF50;
}
